<div class="row">
    <div class="col-9">
        <app-area-chart
            [data]="data"
            [selectedFields]="selectedFields"
            [fieldType]="selectedType"
            aggregation="monthly"
            [chartNumber]="chartNumber"
        ></app-area-chart>
    </div>
    <div class="col-3">
        <form [formGroup]="selectForm" class="dropdown">
            <select class="custom-select" id="selectForm_{{chartNumber}}" formControlName="type" 
                (change)="onUpdateSelect($event)">
                <option *ngFor="let t of typesInQuestionSet" [ngValue]="t">{{t}}</option>
            </select>
            <select class="custom-select" id="selectForm_{{chartNumber}}" formControlName="rangeType" 
                (change)="onUpdateSelect($event)">
                <option ngValue="weekly">weekly</option>
                <option ngValue="monthly">monthly</option>
                <option ngValue="yearly">yearly</option>
            </select>
        </form>
        <div class="card mt-2">
            <div class="card-body">
                <div class="form-check">
                    <div *ngFor="let field of fieldOptions">
                        <input type="checkbox" 
                            [checked]="selectedFields.includes(field)" 
                            class="form-check-input"
                            [id]="field"
                            [disabled]="(!selectedFields.includes(field) && selectedFields.length >= maxFields)
                                        || (selectedFields.includes(field) && selectedFields.length == 1)"
                            (click)="onUpdateFields($event)"
                        >
                        <label [for]="field" class="form-check-label">{{field}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>