<div *ngIf="table">
  <div class="d-flex justify-content-between">
    <h4 class="mt-2 mb-3">{{ this.header }}</h4>
    <div *ngIf="minDate && maxDate && startDateInput && endDateInput">
      <form [formGroup]="dateForm">
        <div class="form-row">
          <app-date-picker
            [item]="startDateInput!"
            [form]="dateForm"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [validityCheck]="false"
            class="date-input"></app-date-picker>
          <app-date-picker
            [item]="endDateInput!"
            [form]="dateForm"
            [minDate]="minDate"
            [maxDate]="maxDate"
            [validityCheck]="false"
            class="date-input"></app-date-picker>
          <button
            class="btn btn-secondary"
            [disabled]="!(validDateRange && changeMadeDate)"
            (click)="setDateRange()">
            Set Date Range
          </button>
        </div>
        <div
          class="invalid-feedback-custom"
          *ngIf="!validDateRange && validDateInput">
          Start date must be before end date.
        </div>
        <div class="invalid-feedback-custom" *ngIf="!validDateInput">
          Invalid date.
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let q of questions">
            {{ q.label }}
          </th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table">
          <td *ngFor="let q of questions">
            {{  q.kindBase == 'switch' ? (data[q.key] == 1) 
                : q.kindBase == 'number' ? (data[q.key] | number) 
                : data[q.key] }}
          </td>
          <td>
            <div class="edit-button">
              <button (click)="editEntry(data)" class="btn btn-warning">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </div>
          </td>
          <td>
            <div class="delete-button">
              <button (click)="deleteEntry(data)" class="btn btn-danger">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center" *ngIf="pagination && pagination.currentPage">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [maxSize]="10"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
  </div>
</div>
