<!-- <div *ngIf="commonOptions && data && data.length > 0 && lineChartFields && lineChartFields.length > 0">
<app-line-chart
    [data]="data"
    [fields]="lineChartFields"
    selectedField="happiness"
    fieldType="slider"
></app-line-chart>
</div>
<app-area-chart></app-area-chart> -->

<div *ngIf="commonOptions && data && data.length > 0 && fields && fields.length > 0">
    <app-chart
        [data]="data"
        [fields]="fields"
        [typesInQuestionSet]="typesInQuestionSet"
    ></app-chart>


  <!-- @Input() data: Array<any> = [];
    @Input() fields: FieldType[] = [];
    @Input() typesInQuestionSet: string[] = []; -->

    <!-- <app-line-chart
        [data]="data"
        [fields]="lineChartFields"
        selectedField="breakfast"
        fieldType="slider"
    ></app-line-chart>
    <app-line-chart
        [data]="data"
        [fields]="lineChartFields"
        selectedField="glassOfWater"
        fieldType="slider"
    ></app-line-chart>
    <app-line-chart
        [data]="data"
        [fields]="lineChartFields"
        selectedField="meds"
        fieldType="slider"
    ></app-line-chart>
    <app-line-chart
        [data]="data"
        [fields]="lineChartFields"
        selectedField="vitamins"
        fieldType="slider"
    ></app-line-chart> -->
</div>
<!-- <app-area-chart></app-area-chart> -->