<div *ngIf="chartData && chartData.length > 0 && chartOptions && chartOptions">
    <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [legend]="chartOptions.legend!"
        [dataLabels]="chartOptions.dataLabels!"
        [markers]="chartOptions.markers!"
        [title]="chartOptions.title!"
        [fill]="chartOptions.fill!"
        [yaxis]="chartOptions.yaxis!"
        [xaxis]="chartOptions.xaxis!"
        [tooltip]="chartOptions.tooltip!"
        [autoUpdateSeries]="true"
        [stroke]="chartOptions.stroke!"
        [colors]="chartOptions.colors"
    ></apx-chart>
</div>