
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #777;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #222;
$black: #000;
$blue: #78c2ad;
$indigo: #6610f2;
$purple: rgb(243, 150, 192);
$pink: #e83e8c;
$red: #fd7e14;
$yellow: rgb(245, 182, 37);
$green: rgb(161, 211, 84);
$teal: #20c997;
$cyan: rgb(81, 200, 238);
$primary: $cyan;
$secondary: $purple;
$info: $teal;
$orange: rgb(255, 160, 0);
$warning: $orange;
$danger: $pink;
$light: $gray-100;
$dark: $gray-900;
$yiq-contrasted-threshold: 200;
$theme-color-interval: 7%;
$enable-gradients: true;
$toast-color: $danger;
$dropdown-bg: lighten($primary, 30%);