
<div class="sidenav" [ngClass]="navOpen ? 'sidenav-navOpen': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="btn-close btn-close-white" @rotate *ngIf="navOpen" (click)="closeSideNav()" aria-label="Close Menu">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <hr class="horizontal-line-sidenav">
    <div class="scrollwrap scrollwrap-delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of (accountService.currentUser$ | async) ? navData_loggedIn : navData_loggedOut">
                <a class="sidenav-nav-link" 
                    *ngIf="data.items && data.items.length > 0"
                    (click)="handleClick(data)"
                    [ngClass]="getActiveClass(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="navOpen" @fadeInOut>{{data.label}}</span>
                    <div *ngIf="data.items && navOpen" class="menu-collapse-icon">
                        <i *ngIf="data.expanded" class="fa-solid fa-angle-down"></i>
                        <i *ngIf="!data.expanded" class="fa-solid fa-angle-right"></i>
                    </div>
                </a>
                
                <a class="sidenav-nav-link" 
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="navOpen" @fadeInOut>{{data.label}}</span>
                </a>
                <div *ngIf="navOpen && data.items && data.items.length > 0">
                    <app-sub-level-menu [data]="data" [navOpen]="navOpen" [multiple]="multiple" [expanded]="data.expanded">
                    </app-sub-level-menu>
                </div>
            </li>
        </ul>
    </div>
</div>