<div *ngIf="table">
  <app-table 
    [columns]="columns"
    [tableData]="table"
    tableTitle="Morning Table"
    [pagination]="pagination"
    (update)="editEntry($event)"
    (delete)="deleteEntry($event)"
    (newPage)="pageChanged($event)"
  ></app-table>
</div>


<!-- type="morning" -->

<!-- export class TablesModule implements OnInit{ 
  table: Array<any> = [];
  type: string = '';
  pagination: Pagination | undefined;
  pageNumber = 1;
  pageSize = 10;

  constructor(private checklistService: ChecklistService, private router: Router, private route: ActivatedRoute) {
    const routeData = this.route.snapshot.data;
    this.type = routeData['metadata']['type'];
  }

  ngOnInit(): void {
    this.loadData();
  }

  loadData() {
    this.checklistService.getTable(this.type, this.pageNumber, this.pageSize).subscribe({
      next: response => {
        if (response.result && response.pagination) {
          this.table = <any[]>response.result;
          this.pagination = response.pagination;
        }
      }
    })
  } -->