<div [formGroup]="form">
    <div class="form-floating mb-2 custom-textbox" >
        <input 
            class="form-control" 
            type="text"
            [id]="item.key"
            [formControlName]="item.key"
            [class.is-invalid]="emptyButRequired || isTooSmall || isTooLarge"
            [class.is-valid]="isValid"
        >
        <div class="invalid-feedback" *ngIf="">
          Question is required.
        </div>
        <div class="invalid-feedback" *ngIf="isTooSmall">
          Number must be at least {{item.minValue}}.
        </div>
        <div class="invalid-feedback" *ngIf="isTooLarge">
          Number must be no greater than {{item.maxValue}}.
        </div>
        <div class="valid-feedback" *ngIf="isValid"></div>
        <label [attr.for]="item.key">{{item.label}}</label>
    </div>
</div>