/* top panel */
.head {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all 0.5s ease;
    background: #f4f7fa;
    padding: 1rem 1.5rem 0 1.5rem;
    position: fixed;
    top: 0;

    .head-content {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 10px 0 rgb(34 41 47 / 10%);
        padding: 0.813rem 1.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.head-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.navbar-brand {
    font-size: 25px;
}


/* circle with user initials dropdown  */
img {
    max-height: 100px;
    border: 1px solid #23b9e9;
    display: inline;
}

.circle {
    display: inline-block;
    background-color: #2cbcec;
    border: 1.5px solid #7fd4f0;
    /* margin: 1px; */
    border-radius: 50%;
}

.circle:hover {
    background-color: #199eca;
    border-radius: 100%;
}

  
.circle-inner {
    color: #fff;
    display: table-cell;
    vertical-align: middle; 
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 40px;  
    font-size: 20px;
}


/* dropdown within initials */
.dropdown-menu {
    left:auto!important;
    right:0!important;
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.625rem;
}

.dropdown-item {
    border-radius: 0.625rem;
}

.dropdown-icon {
    padding-right: 0.5rem;
    padding-left: 0;
}

.dropdown-toggle, .menu-button {
    cursor: pointer;
}
