<div class="head" [ngClass]="getHeadClass()"> 
    <div class="head-content">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Bullet Journal App</a>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-dark text-decoration-none ms-1" dropdownToggle>
          <div class="circle">
            <p class="circle-inner">{{user.firstName | slice:0:1}}{{user.lastName | slice:0:1}}</p>
          </div>        
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/preferences">
              <i class="fa fa-user dropdown-icon"></i> Profile
          </a>
            <a class="dropdown-item" routerLink="/preferences">
                <i class="fa fa-user dropdown-icon"></i> Preferences
            </a>
            <a class="dropdown-item" routerLink="/preferences">
                <i class="fa fa-cog dropdown-icon"></i> Settings
            </a>
            <a class="dropdown-item" (click)="logout()" > 
                <i class="fa fa-sign-out dropdown-icon"></i>Logout
            </a>
        </div>
      </div>

      <div class="d-flex" *ngIf="!(accountService.currentUser$ | async)">
        <button class="btn btn-secondary mr-2" routerLink="/login" type="submit">Login</button>
        <button class="btn btn-success" routerLink="/register" type="submit">Register</button>
      </div>
    </div>
</div>