<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <div class="dropdown" *ngIf="collapseNav" dropdown>
      <div class="mr-4">
        <a class="text-light menu-button text-decoration-none ms-2" dropdownToggle>
          <i class="fa fa-bars"></i>
      </a>
      </div>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/about">About</a>
        <ng-container *ngIf="(accountService.currentUser$ | async) as user">
          <div class="dropright">
            <a class="dropdown-item dropdown-toggle" dropdownToggle>Members</a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="dropdown-item" routerLink="/checklists/morning">Add Morning Checklist</a>
              <a class="dropdown-item" routerLink="/checklists/night">Add Night Checklist</a>
              <a class="dropdown-item" routerLink="/checklists/sleep">Add Sleep Checklist</a>
            </div>
          </div>
        </ng-container>
        <div *ngIf="!(accountService.currentUser$ | async) as user">
          <a class="dropdown-item" routerLink="/register">Register</a>
        </div>
        <!-- <a *appHasRole="['Admin', 'Moderator']" class="dropdown-item" routerLink="/admin">Admin</a> -->
      </div>
    </div>
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Bullet Journal</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0" >
        <ng-container *ngIf="!(collapseNav)">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
        <ng-container *ngIf="(accountService.currentUser$ | async)">
          <li class="nav-item dropdown">
            <div class="dropdown" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle>Trends</a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" >View Morning Trends</a>
                <a class="dropdown-item" >View Night Trends</a>
                <a class="dropdown-item" >View Sleep Trends</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle>Checklists</a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="/checklists/morning">Add Morning Checklist</a>
                <a class="dropdown-item" routerLink="/checklists/night">Add Night Checklist</a>
                <a class="dropdown-item" routerLink="/checklists/sleep">Add Sleep Checklist</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle>Tables</a>
              <div class="dropdown-menu" *dropdownMenu>
                <a class="dropdown-item" routerLink="/tables/morning">View Morning Data</a>
                <a class="dropdown-item" routerLink="/tables/night">View Night Data</a>
                <a class="dropdown-item" routerLink="/tables/sleep">View Sleep Data</a>
              </div>
            </div>
          </li>
        </ng-container>
        <ng-container *ngIf="!(accountService.currentUser$ | async)"> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
        </ng-container>
      </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <a class="dropdown-toggle text-light text-decoration-none ms-2" dropdownToggle>
          <div class="circle">
            <p class="circle-inner">{{user.firstName | slice:0:1}}{{user.lastName | slice:0:1}}</p>
          </div>        
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
          <a class="dropdown-item" (click)="logout()" >Logout</a>
        </div>
      </div>

      <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input 
          name="email"
          [(ngModel)]="model.email"
          class="form-control me-2" 
          type="text" 
          placeholder="Email">
        <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" 
          type="password" 
          placeholder="Password">
        <button class="btn btn-secondary" type="submit">Login</button>
      </form>
    </div>
</nav>