.edit-button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-secondary {
    /* padding-top: 2px;
    padding-bottom: 2px; */
    max-height: 30px;
    text-align: center;
}

.fa-pencil {
    justify-content:first baseline;
    margin-top: 0;
    padding-top: 0;
}

