<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{ column }}
        </th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let checklist of morningTable">
        <td *ngFor="let column of columns">
          {{ checklist[column] }}
        </td>
        <div class="edit-button">
          <button class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
        </div>
      </tr>
    </tbody>
  </table>
</div>
