<div class="tab-panel">
  <tabset class="profile-tabset" #profileTabs>

    <!-- Update which tables will be visible in side nav -->
    <tab heading="Table Preferences">
      <app-table-prefs></app-table-prefs>
    </tab>

    <!-- Update which questions will be visible within each table, add questions, update question kinds -->
    <tab heading="Question Preferences">
      <app-question-prefs></app-question-prefs>
    </tab>
    
    <tab heading="Goals">
      <h4>Goals</h4>
    </tab>
  </tabset>
</div>
