<!-- <div class="form-floating mb-3">
    <input
      type="text"
      [id]="question.key"
      [formControlName]="question.key"
      [class.is-invalid]="!isValid"
      [class.is-valid]="isValid"
      class="form-control"
      [placeholder]="question.label"
      ngbDatepicker
    />
    <div class="invalid-feedback" *ngIf="!isValid">
      Please enter a {{ question.label }}.
    </div>
    <div class="valid-feedback" *ngIf="isValid"></div>
    <label [for]="question.key">{{question.label}}</label>
  </div> -->
  



  <div [formGroup]="form">
    <div class="input-group">
    <div class="form-floating mb-2">
    <input type="text"
        [id]="question.key"
        [formControlName]="question.key"
        [name]="question.key"
        placeholder="DD/MM/YYYY"
        class="form-control"
        #dp="bsDatepicker"
        bsDatepicker
        [bsConfig]="bsConfig"
        [bsValue]="bsValue"
        [class.is-invalid]="!isValid"
        [class.is-valid]="isValid"
    >
    <span >
    <!-- <button class="btn btn-default btn-date-picker"
        type="button"
        (click)="dp.toggle()"
        [attr.aria-expanded]="dp.isOpen">
        <i class="fa fa-calendar" aria-hidden="true"></i>
    </button> -->
    </span>
    <div class="invalid-feedback" *ngIf="!isValid">
      Please enter a {{ question.label }}.
    </div>
    <div class="valid-feedback" *ngIf="isValid"></div>
    <label [for]="question.key">{{question.label}}</label>

  </div>
</div>
</div>  