<div [formGroup]="form">
    <div class="input-group">
    <div class="form-floating mb-2">
    <input type="text"
        [id]="question.key"
        [formControlName]="question.key"
        [name]="question.key"
        placeholder="DD/MM/YYYY"
        class="form-control"
        #dp="bsDatepicker"
        bsDatepicker
        [bsConfig]="bsConfig"
        [bsValue]="bsValue"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [ngClass]="validityCheck ? (isValid ? 'is-valid' : 'is-invalid') : ''"
    >
    <span >
    </span>
    <div class="invalid-feedback" *ngIf="!isValid">
      Please enter a {{ question.label }}.
    </div>
    <div class="valid-feedback" *ngIf="isValid"></div>
    <label [for]="question.key">{{question.label}}</label>

  </div>
</div>
</div>  