<div class="sidenav" [ngClass]="navOpen ? 'sidenav-navOpen': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">
            <i class="fa fa-bars"></i>
        </button>
        <div class="logo-text-div" @fadeInOut *ngIf="navOpen" >
            <a class="logo-text" routerLink="/"></a>
        </div>
        <button class="btn-close" @rotate *ngIf="navOpen" (click)="closeSideNav()">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <hr class="horizontal-line">
    <div class="scrollwrap scrollwrap-delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" 
                    *ngIf="data.items && data.items.length > 0"
                    (click)="handleClick(data)"
                    [ngClass]="getActiveClass(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="navOpen" @fadeInOut>{{data.label}}</span>
                    <i *ngIf="data.items && navOpen" class="menu-collapse-icon"
                        [ngClass]="!data.expanded ? 'fa fa-angle-right' : 'fa fa-angle-down'"
                    ></i>
                </a>
                
                <a class="sidenav-nav-link" 
                    *ngIf="!data.items || (data.items && data.items.length === 0)"
                    [routerLink]="[data.routeLink]" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" *ngIf="navOpen" @fadeInOut>{{data.label}}</span>
                </a>
                <div *ngIf="navOpen && data.items && data.items.length > 0">
                    <app-sub-level-menu [data]="data" [navOpen]="navOpen" [multiple]="multiple" [expanded]="data.expanded">
                    </app-sub-level-menu>
                </div>
            </li>
        </ul>
    </div>
</div>